.leftNavbar {
    max-width: 40%;
    height: 100vh;
}
.Admin {
    display: flex;
}
.rightContent{
    margin-left: 110pt;
}
@media(max-width: 700px){
    .rightContent{
        margin-left: 50pt;
    }  
}