.Sign{
    background-image: url("https://res.cloudinary.com/ds9evspym/image/upload/v1704222694/BNBM%20trade-gypsum/55938547323_yyzswk.png");
    width: 100%;
    background-size: 50%;
    background: no-repeat;
}