.AdminData{
    padding-left: 10pt;
}
.AdminData .dataNavbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw;
}
.AdminData .dataNavbar h1{
    font-size: 2vw;
    font-weight: bolder;
    color: var(--purple);
}
.AdminData .dataNavbar button{
    background-color: var(--purple);
    color: var(--white);
    padding: 1% 2%;
    font-size: 1vw;
    border-radius: 1vw;
}
.AdminData .dataData{
    display: flex;
    align-items: start;
    justify-content: center;
}
.AdminData .dataData{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
}
.AdminData span{
    width: 30%;
    margin: 3% 1.5%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1% 3%;
}
.AdminData span .imgDiv{
    width: 100%;
}
.AdminData span img{
    width: 100%;
}
.AdminData span .projectsTexts{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.AdminData span h2{
    font-size: 2.3vw;
    color: var(--purple);
    margin: 5%;
}
.AdminData span p{
    font-size: 1.1vw;
    color: var(--black);
    text-align: left;
    margin: 5%;
    margin-top: 0;
    width: 80%;
}
.AdminData span div span{
    width: max-content;
}
.AdminData .Loading, .AdminData .Error{
    display: flex;
    flex-direction: column;
    width: max-content;
    font-size: 2vw;
    margin-top: 13vw;
    margin-left: 13vw;
}
.AdminData .Loading{
    font-size: 4vw;
    color: var(--purple);
}
.AdminData .Error i{
    color: red;
    font-size: 10vw;
}
/* Modal */
.AdminData .overlay{
    width: 100%;
    height: 10000vw;
    background-color: rgba(0, 0, 0, 0.212);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
    display: none;
}
.AdminData .dataModal{
    position: fixed;
    padding: 1vw .5vw;
    left: 20%;
    width: auto;
    top: -100%;
    background-color: var(--white);
    z-index: 4;
    border-radius: 1.5vw;
    display: flex;
    flex-direction: column;
}
.AdminData .dataModal h3{
    color: var(--purple);
    font-size: 2.5vw;
    text-align: center;
}
.AdminData .dataModal form{
    width: 100%;
    padding: 0 2vw;
    box-shadow: none;
    display: flex;
}
.AdminData .dataModal h5{
    color: var(--gray);
    font-size: 1.3vw;
    margin: 5% 0;
}
.AdminData .dataModal input, .AdminData .dataModal textarea{
    border: .1vw solid var(--gray);
    width: 20vw;
    border-radius: .5vw;
    padding: .5vw 1vw;
    max-height: 10vw;
    min-height: 3vw;
    font-size: 1.3vw;
}
.AdminData .dataModal .UploadInput{
    width: 20vw;
}
.AdminData .dataModal button{
    padding: 1vw;
    background: var(--purple);
    color: var(--white);
    border-radius: 2vw;
    font-size: 1.3vw;
    width: 100%;
    margin-top: 7vw;
}
.AdminData .dataModal div{
    position: relative;
    margin-right: 2vw;

}
.AdminData .dataModal div .modalEdits{
    position: absolute;
    bottom: 0;
    left: 35%;
    display: flex;
    align-items: center;
    
}
.AdminData .imgDiv{
    width: 25vw;
}
.AdminData .dataModal div img{
    width: 100%;
}
.AdminData .fa-pen,.AdminData .dataModal div .modalEdits .fa-rotate{
    padding: .5vw;
    font-size: 1.3vw;
    background: lightgreen;
    border-radius: .5vw;
    color: var(--white);
    margin-right: .5vw;
}
.AdminData .fa-trash,.AdminData .dataModal div .modalEdits .fa-trash{
    padding: .5vw;
    font-size: 1.3vw;
    background: red;
    border-radius: .5vw;
    color: var(--white);
}
@media(max-width: 900px) {
    .AdminData .dataNavbar{
        padding: 3vw 2vw;
    }
    .AdminData .dataNavbar h1{
        font-size: 2.5vw;
    }
    .AdminData .dataNavbar button{
        padding: 1% 2%;
        border-radius: 1vw;
        font-size: 1.5vw;
    }
    .AdminData span{
        width: 30%;
        margin: 3% 1.5%;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 1% 3%;
    }
    .AdminData span h2{
        font-size: 2.5vw;
        margin: 3%;
    }
    .AdminData span p{
        font-size: 1.3vw;
        margin: 5%;
    }
    .AdminData .Loading, .AdminData .Error{
        font-size: 2vw;
        margin-top: 13vw;
        margin-left: 13vw;
    }
    .AdminData .Loading{
        font-size: 4vw;
    }
    .AdminData .Error i{
        font-size: 10vw;
    }
    /* Modal */
    .AdminData .dataModal{
        padding: 1vw .5vw;
        left: 20%;
        border-radius: 1.5vw;
    }
    .AdminData .dataModal h3{
        font-size: 3vw;
    }
    .AdminData .dataModal form{
        padding: 0 2vw;
    }
    .AdminData .dataModal h5{
        font-size: 1.7vw;
        margin: 5% 0;
    }
    .AdminData .dataModal input, .AdminData .dataModal textarea{
        border: .1vw solid var(--gray);
        width: 20vw;
        border-radius: .5vw;
        padding: .5vw 1vw;
        max-height: 10vw;
        min-height: 3vw;
        font-size: 1.5vw;
    }
    .AdminData .dataModal .UploadInput{
        width: 20vw;
    }
    .AdminData .dataModal button{
        padding: 1vw;
        border-radius: 2vw;
        font-size: 1.3vw;
        margin-top: 7vw;
    }
    .AdminData .dataModal div{
        margin-right: 2vw;
    }
    .AdminData .dataModal div .modalEdits{
        bottom: 0;
        left: 35%; 
    }
    .AdminData .imgDiv{
        width: 25vw;
    }
    .AdminData .fa-pen,.AdminData .dataModal div .modalEdits .fa-rotate{
        padding: .5vw;
        font-size: 1.5vw;
        border-radius: .5vw;
    }
    .AdminData .fa-trash,.AdminData .dataModal div .modalEdits .fa-trash{
        padding: .5vw;
        font-size: 1.5vw;
        border-radius: .5vw;
    }
}
@media(max-width: 700px) {
    .AdminData .dataNavbar{
        padding: 3vw 2vw;
    }
    .AdminData .dataNavbar h1{
        font-size: 3.5vw;
    }
    .AdminData .dataNavbar button{
        padding: 1% 2%;
        border-radius: 1vw;
        font-size: 2vw;
    }
    .AdminData span{
        width: 30%;
        margin: 3% 1.5%;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 1% 3%;
    }
    .AdminData span h2{
        font-size: 3vw;
        margin: 3%;
    }
    .AdminData span p{
        font-size: 1.7vw;
        margin: 5%;
    }
    .AdminData .Loading, .AdminData .Error{
        font-size: 3vw;
        margin-top: 13vw;
        margin-left: 13vw;
    }
    .AdminData .Loading{
        font-size: 4vw;
    }
    .AdminData .Error i{
        font-size: 10vw;
    }
    /* Modal */
    .AdminData .dataModal{
        padding: 1vw .5vw;
        left: 20%;
        border-radius: 1.5vw;
    }
    .AdminData .dataModal h3{
        font-size: 4vw;
    }
    .AdminData .dataModal form{
        padding: 0 2vw;
    }
    .AdminData .dataModal h5{
        font-size: 3vw;
        margin: 5% 0;
    }
    .AdminData .dataModal input, .AdminData .dataModal textarea{
        border: .1vw solid var(--gray);
        width: 20vw;
        border-radius: .5vw;
        padding: .5vw 1vw;
        max-height: 15vw;
        min-height: 4vw;
        font-size: 2vw;
    }
    .AdminData .dataModal .UploadInput{
        width: 25vw;
    }
    .AdminData .dataModal button{
        padding: 1vw;
        border-radius: 2vw;
        font-size: 2vw;
        margin-top: 7vw;
    }
    .AdminData .dataModal div{
        margin-right: 2vw;
    }
    .AdminData .dataModal div .modalEdits{
        bottom: 0;
        left: 35%; 
    }
    .AdminData .imgDiv{
        width: 25vw;
    }
    .AdminData .fa-pen,.AdminData .dataModal div .modalEdits .fa-rotate{
        padding: .5vw;
        font-size: 2.5vw;
        border-radius: .5vw;
        margin-right: 1vw;
    }
    .AdminData .fa-trash,.AdminData .dataModal div .modalEdits .fa-trash{
        padding: .5vw;
        font-size: 2.5vw;
        border-radius: .5vw;
    }
}
@media(max-width: 500px) {
    .AdminData .dataNavbar{
        padding: 4vw 3vw;
    }
    .AdminData .dataNavbar h1{
        font-size: 6vw;
    }
    .AdminData .dataNavbar button{
        padding: 1% 2%;
        border-radius: 1vw;
        font-size: 3vw;
    }
    .AdminData span{
        width: 90%;
        margin: 3% 1.5%;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 3vw 3vw;
    }
    .AdminData span h2{
        font-size: 6vw;
        margin: 1vw;
    }
    .AdminData span p{
        font-size: 3vw;
        margin: 2vw;
    }
    .AdminData .Loading, .AdminData .Error{
        font-size: 4vw;
        margin-top: 13vw;
        margin-left: 13vw;
    }
    .AdminData .Loading{
        font-size: 6vw;
    }
    .AdminData .Error i{
        font-size: 10vw;
    }
    /* Modal */
    .AdminData .dataModal{
        padding: 2vw 1vw;
        left: 10%;
        width: 80%;
    }
    .AdminData .dataModal form{
        flex-direction: column;
    }
    .AdminData .dataModal h3{
        font-size: 6vw;
    }
    .AdminData .dataModal form{
        padding: 0 2vw;
    }
    .AdminData .dataModal h5{
        font-size: 4vw;
        margin: 2vw 0;
    }
    .AdminData .dataModal input, .AdminData .dataModal textarea{
        border: .1vw solid var(--gray);
        width: 90%;
        border-radius: .5vw;
        padding: .5vw 1vw;
        max-height: 15vw;
        min-height: 4vw;
        font-size: 4vw;
    }
    .AdminData .dataModal .UploadInput{
        width: 90%;
    }
    .AdminData .dataModal button{
        padding: 1vw;
        border-radius: 2vw;
        font-size: 4vw;
        margin-top: 7vw;
    }
    .AdminData .dataModal div{
        margin-right: 2vw;
    }
    .AdminData .dataModal div .modalEdits{
        bottom: 0;
        left: 35%;
    }
    .AdminData .imgDiv{
        width: 100%;
    }
    .AdminData .fa-pen,.AdminData .dataModal div .modalEdits .fa-rotate{
        padding: 2vw;
        font-size: 5vw;
        border-radius: .5vw;
        margin-right: 1vw;
    }
    .AdminData .fa-trash,.AdminData .dataModal div .modalEdits .fa-trash{
        padding: 2vw;
        font-size: 5vw;
        border-radius: .5vw;
    }
}