.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.5); /* Set a semi-transparent background */
    backdrop-filter: blur(20px); /* Add the blur effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 1% 3%;
    position: fixed;
    width: 80%;
    margin: 1% 10%;
    border-radius: 1vw;
    left: 0;
    top: 0;
    z-index: 3;
}
.Navbar img{
    width: 12%;
}
.Navbar div{
    width: max-content;
    display: flex;
    align-items: center;
}
.Navbar div button,.Navbar div a,.Navbar div select{
    color: var(--gray);
    cursor: pointer;
    margin: 0 1vw;
    font-size: .9vw;
    font-weight: bold;
}
.Navbar div button:hover{
    color: var(--black);
    transform: translateY(-.2vw);
}
.Navbar div a:hover{
    color: var(--black);
    transform: translateX(.4vw);
}
.Navbar div select:hover{
    color: var(--black);
    transform: scale(1.2);
}
.Navbar div i{
    display: none;
    margin-left: 20%;
}
.Navbar .navSide{
    position: fixed;
    left: 0;
    top: -50vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    background: var(--white);
    width: 100%;
    z-index: -5;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2vw;
    padding: 3%;
}
.Navbar select{
    border-radius: 2vw;
}
.Navbar option{
    background-color: var(--white);
    color: var(--purple);
}
@media(max-width: 900px) {
    .Navbar div button,.Navbar div a,.Navbar div select{
        font-size: 1.2vw;
    }
    .Navbar img{
        width: 15%;
    }
    .Navbar{
        margin: 2% 10%;
    }
}
@media(max-width: 700px) {
    .Navbar div button,.Navbar div a,.Navbar div select{
        font-size: 1.3vw;
    }
}
@media(max-width: 500px) {
    .Navbar{
        width: 100%;
        margin: 3% 0;
        padding: 1% 10%;
    }
    .Navbar div button,.Navbar div a,.Navbar div select,.Navbar div i{
        display: none;
        font-size: 4vw;
    }
    .Navbar div select, .Navbar div i{
        display: block;
        font-size: 5vw;
    }
    .Navbar img{
        width:35%;
    }
    .Navbar .navSide *{
        display: flex;
        width: 100%;
        color: var(--purple);
        margin: 2% 0;
    }
}