.Second{
    background: var(--white);
    border-bottom: none;
    border-top-right-radius: 3vw;
    border-top-left-radius: 3vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.Second div{
    height: 43vw;
    z-index: 20;
    padding: 7%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.Second video{
    position:absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    border-top-right-radius: 2.7vw;
    border-top-left-radius: 2.7vw;
    object-fit: cover;
    touch-action: manipulation;
}
.Second video::-webkit-media-controls {
    display: none !important;
}
.Second video:hover::-webkit-media-controls,
.Second video:focus::-webkit-media-controls {
    display: initial !important;
}
.Second h1{
    color: var(--white);
    font-size: 3.5vw;
    z-index: 1;
    margin-top: 7%;
}
.Second p{
    color: var(--grey);
    font-size: 1vw;
    width: 50%;
    text-align: left;
    z-index: 1;
    margin: 5% 0;
}
.Second button{
    border: .1vw solid var(--white);
    color: var(--white);
    background: none;
    cursor: pointer;
    padding: 1.5% 3%;
    font-size: 1vw;
    border-radius: .3vw;
    z-index: 3;
}
.Second button:hover{
    color: var(--purple);
    background: var(--white);
}
.Second span{
    position: fixed;
    display: flex;
    align-items: center;
    width: 90%;
    top: 100%;
    left: 5%;
    z-index: 8;
    height: max-content;
}
.Second span img{
    width: 80%;
    height: min-content;
}
.Second span div{
    margin: 0;
    padding: 0;
    height: min-content;
    border-radius: 1vw;
    width: 50%;
    padding: 3% 5%;
    background: var(--purple);
}
.Second span h2{
    color: var(--white);
    font-size: 2.5vw;
    margin-top: 3%;
}
.Second span p{
    width: 100%;
    font-size: 1vw;
}
.Second .overlay{
    position: fixed;
    width: 100%;
    height: 1000vw;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 7;
    display: none;
}
@media(max-width: 500px){
    .Second{
        width: 100%;
        margin: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    .Second video{
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    .Second div{
        padding: 5%;
        height: 56vw;
    }
    .Second h1{
        font-size: 7vw;
        margin-top: 3%;
    }
    .Second p{
        font-size: 2.2vw;
        width: 80%;
    }
    .Second button{
        font-size: 2.5vw;
        padding: 2.5% 5%;
    }
    .Second span{
        width: 80%;
        left: 10%;
        flex-direction: column;
        border-radius: 0;
        padding-bottom: 5%;
        border-bottom-left-radius: 1.5vw;
        border-bottom-right-radius: 1.5vw;
        background-color: var(--purple);
    }
    .Second span img{
        margin: 0;
        width: 100%;
    }
    .Second span div{
        border-radius: 0;
        width: 100%;
        padding: 0;
        background: none;
    }
    .Second span h2{
        font-size: 5.5vw;
        text-align: center;
        margin: 5% auto;
    }
    .Second span p{
        font-size: 3.2vw;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 5%;
        text-align: center;
    }
}